@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("../images/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-size: contain;
}

@layer base {
  h3 {
    @apply mb-8 font-bold text-5xl text-darkGrayishBlue;
  }
  h5 {
    @apply mb-3 text-2xl font-bold text-darkGrayishBlue;
  }
}

.section-container {
  @apply max-w-6xl mx-auto text-center px-10;
}

.button-container {
  @apply flex flex-col md:flex-row justify-center w-full space-y-6 md:space-y-0 md:space-x-4 text-white;
}

.open-paragraph {
  @apply text-xl max-w-3xl mx-auto text-grayishBlue leading-8;
}

@media (max-width: 576px) {
  body {
    background-image: url("../images/bg-header-mobile.png");
  }
}
